div {
    border: 0px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px;
}

#v_line {
    width: 0px; 
    padding: 0px;
    border: 1px solid black; 
    height:120px;
    border-radius: 10px;
}

#lower {
    float: left; 
    padding: 4.5px;
    padding-left: 3%;
    border-radius: 10px; 
}

#form_align {
    float: left; 
    width: 48%;
    border-radius: 10px;
}

#formHeading_style {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 10px;
} 

#button {
    background-color: aqua;
    width: 10%; 
    height: 30px; 
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-radius: 10px;
}

#report_card {
    width: 100%; 
    height: 60px; 
    font-size: x-large; 
    text-decoration: underline; 
    text-align: center;
    border-radius: 10px;
}
#mega_heading {
    width: 100%; 
    height: 80px; 
    font-weight: bolder; 
    font-size: xx-large; 
    text-align: center;
    border-radius: 10px;
}

#image {
    height: 60px; 
    width: 60px; 
    padding-top: 6px; 
    padding-left: 6px;
    border-radius: 10px;
}

#Whole_Table { 
    height: 350px;
    border: 2px solid black; 
    padding-left: 30px; 
    padding-right: 30px;
    border-radius: 10px;
}

#General_div {
    border: 1px solid black;
    width: 42%; 
    height: 205px; 
    float: left;
    padding: 10px;
    border-radius: 10px;
}

#under_div {
    height: 100px; 
    width: 100%;
    border: 0px solid black; 
    float: left;
}

#all_div {
    height: 170px; 
    width: 140%; 
    border: 1px solid black; 
    float: left;
}

.header {
    width: 9.3%; 
    height: 20px; 
    border: 1px solid black;
    float: left;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 11px;
}

.odd_row {
    width: 9.3%; 
    height: 20px; 
    border: 1px solid black;
    float: left;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px;
}